<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>In nature, nothing is perfect and everything is perfect.</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Forget not that the earth delights to feel your bare feet and the winds long to play with your hair..</h1>
                        <p class="">In all things of nature there is something of the marvelous.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Contact us</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://i.pinimg.com/originals/e4/5e/27/e45e2766a47aeaf21a0da725cb7c50a5.jpg"
                                    alt="" />
                                <h1>Marima</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://c4.wallpaperflare.com/wallpaper/451/370/411/cowboy-bebop-radical-edward-anime-cowboy-bebop-hd-art-wallpaper-preview.jpg"
                                    alt="" />
                                <h1>R4dical</h1>
                                <p>Assistant</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://venturebeat.com/wp-content/uploads/2019/05/asgard-2.jpg?w=1200&strip=all"
                                    alt="" />
                                <h1>Andrew</h1>
                                <p>Manager</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Mother Earth</h1>
                        <p>Save Mother Earth</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg"
                                    alt="" />
                                <h1>Environmental Crisis</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-trees"
                                    src="https://static.parade.com/wp-content/uploads/2020/05/nature-quotes-50.jpg"
                                    alt="" />
                                <h1>Time Flies</h1>
                                <p>Look deep into nature, and then you will understand everything better.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>